body {
    background-image: url("https://ak9.picdn.net/shutterstock/videos/11714279/thumb/1.jpg");
    font-family: "Helvetica-bold";
}

.btn {
    text-align: center;
    width: 500px;
}

.container{
    margin-top: 30px;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 40px ;
    
}

button {
    margin-left: auto;
    margin-right: auto;
    
}

#buttonD {
    margin-bottom:30px;
}

#question{
    font-size: 30px;
    color:#1197dc; 
    
}

.title {
    font-size: 50px;
}

#start {
    margin-bottom: 30px;
}

.answer{
    background-color: white;
    border-color: black;
    color: black;
}

#time {
    font-size: 20px;
}

#score {
    font-size: 20px;
    color: #004669; 
    
}

#result {
    font-size: 20px;
    color: #3281a8; 
}

